.footer{
    background-color: rgb(10, 71, 133);
    color: white;
    width: 81%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}

.redes-sociais{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.desenvolvedor{
    margin-right: 25px;
}

span{
    color: rgb(241, 95, 125);
    font-size: 1.3rem;
}

.facebook{
    margin-right: 25px;
}

.github{
    margin-right: 25px;
}